body{
    line-height: 2rem;
    font-size: 1.2rem;
}
h1{
    background-color: lightblue;
    color: #3F8ED3;
    padding: 1rem;
    width: 100%;
}
h2{
    background-color: lightgreen;
    color:#719C73;
    padding: 1rem;
    width: 100%;
}
h3{
    background-color: lightcoral;
    color:#DB574D;
    padding: 1rem;
    width: 100%;
}
h4{
    background-color:lightyellow;
    color:#F6E658;
    padding: 1rem;
    width: 100%;
}
h5{
    background-color: lightpink;
    color:#E18BA8;
    padding: 1rem;
    width: 100%;
}
h6{
    background-color: lightgray;
    color:#919191;
    padding: 1rem;
    width: 100%;
}
span{
    color:red;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100vw;
}
table th{
    background-color:lightgray;
    border: 1px solid lightslategray;
    text-align: left;
    padding: 10px;
}
table td{
    border: 1px solid lightslategray;
    padding: 10px;
}
.btn{
    background-color: #0276FD;
    color: white;
    border-radius: 8px;
    height: 50px;
    width: 180px;
    margin-top: 8px;
    text-align: center;
    border-color: white;
}
.btn:hover{
    background-color: blue;
}